/** Landing Page */
body {
	background-color: black;
}
/*^ Hero Section */
.Hero {
	position: relative;
	box-sizing: border-box;
	flex-shrink: 0;
	height: min-content;
	display: flex;
	justify-content: flex-start;
	padding: 10vw;
	background-color: #ffffff;
	min-height: 50vw;
	overflow: visible;
	position: relative;
	flex-wrap: nowrap;
	width: 100%;
	z-index: 2;
}

.brand-slogan {
	flex-shrink: 0;
	max-width: 50vw;
	height: auto; /* 238px */
	z-index: 2;
	font-size: clamp(2vw, 4vw, 9vw);
	font-weight: 600;
	font-style: normal;
	font-family: "Poppins", sans-serif;
	color: #540d6e;
	line-height: 1.1;
	text-align: left;
}

.getStarted {
	letter-spacing: 0.5px;
	display: flex;
	align-items: center;
	padding: 0.8rem 1rem 0.8rem 1rem;
	background-image: linear-gradient(to right, #00fafc, #f854d9);
	position: relative;
	color: white;
	border-radius: 2rem;
	border-color: white;
	cursor: pointer;
	text-align: center;
	max-width: clamp(13vw, 20vw, 30vw);
	font-size: clamp(1vw, 1.3vw, 1.7vw);
	max-height: clamp(1vw, 4vw, 7vw);
}

.img-section {
	position: absolute;
	top: 0;
	right: 0;
	z-index: -1;
}

.image {
	max-width: clamp(20vw, 50vw, 80vw);
	max-height: clamp(30vw, 60vw, 90vw);
}

/*^ Text Section */
.Text {
	position: relative;
	padding: 8vw 10vw;
	background-color: #000000;
	overflow: hidden;
	flex: 1 0 0px;
	flex-wrap: nowrap;
	z-index: -2;
}

.content {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.text-image {
	max-width: clamp(15vw, 25vw, 50vw);
}

.text-container {
	max-width: 40vw;
}
.text-container h1 {
	font-family: "Unbounded", sans-serif;
	line-height: 1.2;
	text-align: left;
	overflow: visible;
	flex: 1 0 0px;
	font-weight: 700;
	font-size: 3rem;
	color: rgb(220, 152, 26);
	font-size: clamp(5vw, 5vw, 9vw);
	letter-spacing: 3px;
}
.text-container p {
	color: #3bceac;
	font-size: clamp(1vw, 2vw, 4vw);
	line-height: 1.5;
	text-align: left;
	font-family: "Nunito", "Nunito Placeholder", sans-serif;
}

.t_image {
	width: clamp(40vw, 55vw, 80vw);
	filter: contrast(60%);
}

.t_image-container-2 {
	position: absolute;
	z-index: -1;
	top: -7vw;
	right: -7vw;
}

/*^ Features Section */
.Features {
	color: white;
	display: flex;
	flex-direction: column;
	position: relative;
	flex-shrink: 0;
	padding: 8vw 10vw;
	overflow: hidden;
	flex: 1 0 0px;
	flex-wrap: nowrap;
	z-index: -2;
}
.f-heading {
	width: 100%;
	position: relative;
	font-weight: 700;
	font-family: "Unbounded", sans-serif;
	color: #ee4266;
	font-size: clamp(2vw, 3vw, 7vw);
	line-height: 1.2;
	text-align: left;
}

.f-content {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.f-list {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	overflow: visible;
	flex: 1 0 0px;
	flex-wrap: nowrap;
	gap: clamp(1.1vw, 2.3vw, 3vw);
	list-style: none;
}

.f-list h2 {
	flex-shrink: 0;
	font-weight: 400;
	font-family: "Nunito", "Nunito Placeholder", sans-serif;
	color: #ee4266;
	font-size: clamp(1.1vw, 2.3vw, 4vw);
	line-height: 1.5;
	text-align: left;
}

.f_list-dscrp {
	position: relative;
	font-style: normal;
	font-family: "Nunito", "Nunito Placeholder", sans-serif;
	color: #3bceac;
	font-size: clamp(0.8vw, 1.1vw, 2vw);
	line-height: 1.5;
	text-align: left;
}

.f-img {
	max-width: clamp(22vw, 35vw, 40vw);
	border-radius: 0.5rem;
}

/*^ Review Section */
.Review {
	position: relative;
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 8vw 10vw;
	background-color: #000000;
	overflow: hidden;
	flex: 1 0 0px;
	color: #ffffff;
	z-index: -2;
}

.review-cards {
	display: flex;
	flex-direction: row;
	flex: 1 0 0px;
}

.r-card {
	position: relative;
	flex-shrink: 0;
	flex: 1 0 0px;
	display: flex;
	flex-direction: column;
	align-content: flex-start;
	border-radius: 3rem;
	height: 30vw;
}

.card-img {
	flex-shrink: 0;
	width: 3rem;
	margin: 2rem 1.6rem;
	overflow: hidden;
	aspect-ratio: 1 / 1;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 3rem;
	background-position: center;
	border: 2px solid red;
}

.P1 {
	background-image: url("./assets/John Murray.jpg");
}

.P2 {
	background-position: top;
	background-image: url("./assets/Samantha Lee.jpg");
}

.P3 {
	background-image: url("./assets/Sarah Thompson.jpg");
}

.card-body {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	overflow: hidden;
	height: 16vw;
}

.card-dscrp {
	font-weight: 400;
	font-style: normal;
	font-family: "Nunito", "Nunito Placeholder", sans-serif;
	color: #ffffff;
	font-size: 1rem;
	letter-spacing: 0.1rem;
	line-height: 1.5;
	text-align: left;
}

.card-name {
	margin-top: auto;
	font-weight: 400;
	font-style: normal;
	font-family: "Nunito", "Nunito Placeholder", sans-serif;
	color: #ffffff;
	font-size: 0.7rem;
	line-height: 1.5;
	text-align: left;
}

/*^ Footer Section */

.Footer {
	position: relative;
	box-sizing: border-box;
	flex-shrink: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	padding: 8vw 10vw;
	overflow: hidden;
	flex: 1 0 0px;
}

.fo-Text {
	color: #0ead69;
	overflow: visible;
	position: relative;
	font-weight: 400;
	font-style: normal;
	font-family: "Nunito", "Nunito Placeholder", sans-serif;
	font-size: 16px;
	letter-spacing: 0em;
	line-height: 1.5;
	text-align: left;
}

/*^ Login Modal */

.Modal-box {
	position: absolute;
	top: 50%;
	left: 50%;
	padding: 2rem 1rem;
	transform: translate(-50%, -50%);
	width: fit-content;
	background-color: white;
	border: 2px solid #000000;
	border-radius: 1rem;
}

.form-container {
	display: flex;
	justify-content: center;
}
.form-field {
	display: flex;
	align-items: baseline;
	min-width: max-content;
	padding: 0 1rem;
	/* background: wheat; */
}

.form-field label {
	padding: 0.5rem;
	margin: 0.5rem;
}

form input {
	padding-left: 0.4rem;
}

.button-container {
	display: flex;
	justify-content: center;
}

.btn {
	border: 2px solid #017bfe;
	margin: 1rem;
	min-width: 7vw;
}
